<template>
  <v-container class="register flex-column justify-around">
    <v-row>
      <v-col />
      <v-col class="col-9">
        <v-card class="px-6 pb-6 pt-2">
          <v-card-title>Aprovação de Formulários</v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            search
            item-key="index"
          >
            <!-- Approve button -->
            <template v-slot:item.preview="{ item }">
              <v-dialog>
                <!-- button to activate the dialog -->
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    dark
                    small
                    v-on="on"
                  >
                    Ver
                  </v-btn>
                </template>

                <!-- content of the dialog -->
                <v-card>
                  <FormStepper
                    :submission="item.id"
                    :editable="false"
                  />
                </v-card>
              </v-dialog>
            </template>

            <!-- Approve button -->
            <template v-slot:item.approve="{ item }">
              <v-btn
                v-if="item.accepted === false"
                small
                class="success"
                @click="accept(item)"
              >
                Aprovar
              </v-btn>
            </template>

            <!-- Approved status -->
            <template
              v-slot:item.accepted="{ item }"
            >
              <v-icon>
                {{ item.accepted === true ?
                  "mdi-check-outline":
                  "mdi-close-outline" }}
              </v-icon>
            </template>

            <template v-slot:no-data>
              Sem formulários submetidos
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col />
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'

import FormStepper from '../views/FormStepper.vue'

export default {
  name: 'SubmissionsLab',
  components: {
    FormStepper
  },
  computed: {
    ...mapGetters({
      laboratory: 'session/laboratory'
    })
  },
  data: () => ({
    headers: [
      { value: 'name', text: 'Pesquisador' },
      { value: 'last', text: 'Última Modificação' },
      { value: 'accepted', text: 'Aceito' },
      { value: 'preview', text: '', sortable: false },
      { value: 'approve', text: '', sortable: false }
    ],
    items: [],
    preview_data: {},
    dialog: false
  }),
  mounted () {
    this.get_items()
  },
  methods: {
    async get_items () {
      const response = await axios.get(
        process.env.VUE_APP_BACKENDURL + '/sub_by_lab/' + this.laboratory
      )
      console.log(response)
      this.items = response.data
      this.items.map(function (item) {
        item.last = DateTime
          .fromISO(item.last)
          .setLocale('br')
          .toFormat("dd/MM/yyyy 'às' HH:mm")
        item.dialog = false
      })
    },
    async preview (item) {
    },
    async accept (item) {
      try {
        await axios.post(
          process.env.VUE_APP_BACKENDURL + '/accept/' + item.id
        )
      } catch (error) {
        this.alert_color = 'error'
        this.alert_text = error

        const match = new RegExp('401')
        if (error.toString().match(match)) {
          this.alert_text = 'Sessão expirada. Faça LOGIN novamente.'
        }
      }
      this.get_items()
    }
  }
}
</script>
