<template>
  <v-container class="register flex-column justify-around">
    <v-row>
      <v-col />
      <v-col
        cols="12"
        lg="9"
        xl="7"
      >
        <v-card outlined>
          <v-card-title headline>
            Login
          </v-card-title>
          <v-form
            ref="form"
            v-model="form_valid"
            class="ma-4"
            lazy-validation
          >
            <v-text-field
              v-model="form_data.username"
              label="Usuário"
              outlined
              prepend-inner-icon="mdi-account"
            />

            <v-text-field
              v-model="form_data.password"
              :append-icon="show_pass ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show_pass ? 'text' : 'password'"
              label="Senha"
              outlined
              prepend-inner-icon="mdi-key"
              valid
              @click:append="show_pass = !show_pass"
            />

            <v-btn
              centered
              @click="login"
            >
              Login
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
      <v-col />
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'LoginForm',
  data: () => ({
    form_valid: true,
    show_pass: false,
    form_data: {
      username: '',
      password: ''
    },
    select_id: 0
  }),
  methods: {
    async login () {
      console.log('login')
      const response = await axios.post(process.env.VUE_APP_BACKENDURL + '/auth/login', {
        ...this.form_data
      })
      console.log(response)
      if (response) {
        this.$store.dispatch('session/login', response.data)
      }
    }
  }
}
</script>
