<template>
  <v-container class="flex-column justify-around">
    <v-row>
      <v-col />
      <v-col
        cols="12"
        lg="9"
        xl="7"
      >
        <v-card outlined>
          <v-card-title headline>
            Funcionários {{ this.propObj ? "Fundação" : "Estatutários" }}
          </v-card-title>

          <v-card class="ma-4">
            <v-data-table
              ref="table"
              v-model="selected"
              :headers="headers"
              :items="items"
              hide-default-footer
              item-key="index"
              show-select
            />

            <v-btn
              :color="selected.length == 0 ? '': 'error'"
              :disabled="items.length == 0"
              class="ma-4"
              @click="removeSelected()"
            >
              Remover
            </v-btn>
          </v-card>

          <v-form
            ref="form"
            v-model="form_valid"
            lazy-validation
            class="ma-4"
          >
            <v-text-field
              v-model="form_data.name"
              label="Nome"
              outlined
              prepend-inner-icon="mdi-face"
              valid
            />

            <data-select
              v-model="form_data.role_foundation_level_id"
              icon="mdi-account-badge"
              label="Nível PQ ou Cargo Fundação"
              resource="role_foundation_levels"
              show-value="description"
            />

            <data-select
              ref="title_select"
              v-model="form_data.title_id"
              icon="mdi-certificate"
              label="Título"
              resource="titles"
              show-value="name"
            />

            <v-btn @click="addToTable()">
              Adicionar Novo
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
      <v-col />
    </v-row>
  </v-container>
</template>
<script>
import DataSelect from '../components/DataSelect'

export default {
  name: 'NewEmployee',
  components: {
    DataSelect
  },
  props: {
    propObj: {
      default: false
    },
    form_data: {}
  },
  data: () => ({
    form_valid: false,
    headers: [{ text: 'Nome', value: 'name' }],
    items: [],
    index: 0,
    selected: []
  }),

  mounted () {
    this.items = this.form_data.items || []
  },
  methods: {
    addToTable () {
      if (
        this.form_data.name &&
        this.form_data.role_foundation_level_id &&
        this.form_data.title_id
      ) {
        this.form_data['items'] = null
        this.items.push({ index: this.index, ...this.form_data })
        this.$refs.form.reset()
        this.index++
      }
      this.form_data['items'] = this.items
    },
    removeSelected () {
      for (let i = 0; i < this.selected.length; i++) {
        this.items = this.items.filter(item => {
          return item.index !== this.selected[i].index
        })
      }
    }
  }
}
</script>
